<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.cryptodirect.authenticator"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AuthenticatorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CryptodashTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LinkAccountActivity"
            android:label="@string/title_activity_register_account"
            android:parentActivityName="net.cryptodirect.authenticator.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.REGISTER_ACCOUNT"/>
                <category android:name="android.intent.category.ACCOUNT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.cryptodirect.authenticator.MainActivity" />
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:process=":error_report"
            android:theme="@style/Theme.Dialog"/>
    </application>

</manifest>
